<div class="flavor-profile">
    <div class="pacss-wrapper"> 
        <span class="pacss-foreground">
            <span class="pacss-number">{{ page.character }}</span>
        </span> 
        <span class="pacss pacss-{{ page.body | times:10 }} {% if page.character > 5 %} pacss-big {% endif %}"></span>
        <p style="font-size: 12px;">Character</p>
    </div>
    <div class="pacss-wrapper"> 
        <span class="pacss-foreground">
            <span class="pacss-number">{{ page.complexity }}</span>
        </span> 
        <span class="pacss pacss-{{ page.richness | times:10 }} {% if page.complexity > 5 %} pacss-big {% endif %}"></span>
        <p style="font-size: 12px;">Complexity</p>
    </div>
    <div class="pacss-wrapper"> 
        <span class="pacss-foreground">
            <span class="pacss-number">{{ page.smoke }}</span>
        </span> 
        <span class="pacss pacss-{{ page.smoke | times:10 }} {% if page.smoke > 5 %} pacss-big {% endif %}"></span>
        <p style="font-size: 12px;">Smoke/Peat</p>
    </div>
    <div class="pacss-wrapper"> 
        <span class="pacss-foreground">
            <span class="pacss-number">{{ page.sweetness }}</span>
        </span> 
        <span class="pacss pacss-{{ page.sweetness | times:10 }} {% if page.sweetness > 5 %} pacss-big {% endif %}"></span>
        <p style="font-size: 12px;">Sweetness</p>
    </div>
</div>
